## Actividad 5

In [ ]:
import pandas as pd

# DATASET BASE
datos = {
    'Nombre':  ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'Edad':    [25, 30, 22, None, 28],
    'Ciudad':  ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'Ingreso': [3000, 4500, 2800, 5000, None]
}

df = pd.DataFrame(datos)

# Guarda el dataset base
df.to_csv('actividad_semana5.csv', index=False)

print("DataFrame base:")
df.head()

## Punto 2

In [ ]:
print("SERIES")

# Crear Series desde lista
serie_lista = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print("Series desde lista:")
print(serie_lista)

# Crear Series desde diccionario
serie_diccionario = pd.Series({'x': 100, 'y': 200, 'z': 300})
print("Series desde diccionario:")
print(serie_diccionario)

# Accede por índice/clave
print(f"Acceder a 'b': {serie_lista['b']}")
print(f"Acceder a 'y': {serie_diccionario['y']}")

# Modificar un valor
serie_lista['c'] = 999
print("Después de modificar 'c':")
print(serie_lista)

# Operación matemática
resultado = serie_lista * 2
print("Multiplicado por 2:")
print(resultado)

## Punto 3

In [ ]:
# Primeras filas
print("\nPrimeras 3 filas (df.head(3)):")
print(df.head(3))

# Últimas filas
print("\nÚltimas 2 filas (df.tail(2)):")
print(df.tail(2))

# info (resumen de tipos de datos, valores no nulos y uso de memoria)
print("\nInformación del DataFrame (df.info()):")
df.info()

# shape (número de filas y columnas)
print(f"\nDimensiones (filas, columnas) (df.shape): {df.shape}")

# describe (estadísticas descriptivas para columnas numéricas)
print("\nEstadísticas descriptivas (df.describe()):")
print(df.describe())

## Punto 4

In [3]:
# Obtener la columna 'Nombre' como Series
columna_nombre = df['Nombre']
print("Columna 'Nombre' como Series:")
print(columna_nombre)

# Obtener la fila con índice 1 usando loc (acceso por etiqueta/nombre)
fila_loc = df.loc[1]
print("\nFila con índice 1 (loc):")
print(fila_loc)

# Obtener la fila con índice 1 usando iloc (acceso por posición entera)
fila_iloc = df.iloc[1]
print("\nFila con índice 1 (iloc):")
print(fila_iloc)

# Acceder al valor específico (fila 1, columna 'Edad')
valor_edad = df.loc[1, 'Edad']
# O también: valor_edad = df.iloc[1, 1]
print(f"\nValor específico (fila 1, columna 'Edad'): {valor_edad}")

Columna 'Nombre' como Series:
0      Ana
1      Bob
2    Clara
3    Diego
4      Eva
Name: Nombre, dtype: object

Fila con índice 1 (loc):
Nombre        Bob
Edad         30.0
Ciudad       Lima
Ingreso    4500.0
Name: 1, dtype: object

Fila con índice 1 (iloc):
Nombre        Bob
Edad         30.0
Ciudad       Lima
Ingreso    4500.0
Name: 1, dtype: object

Valor específico (fila 1, columna 'Edad'): 30.0

## Punto 5

In [ ]:
# 1. Incrementa Edad en 5 años
df['Edad'] = df['Edad'] + 5
print("DataFrame con 'Edad' incrementada en 5:")
print(df[['Nombre', 'Edad']])

# 2. Crea una columna Ingreso_anual (maneja nulos con 0)
# Usamos .fillna(0) solo para la columna 'Ingreso' antes de la multiplicación
df['Ingreso_anual'] = df['Ingreso'].fillna(0) * 12
print("\nDataFrame con la nueva columna 'Ingreso_anual':")
print(df[['Nombre', 'Ingreso', 'Ingreso_anual']])

## Punto 6

In [ ]:
# 1. Filtra filas con Edad > 30 (recuerda que 'Edad' ya fue incrementada en 5)
filtro_edad = df['Edad'] > 30
df_edad_mayor_30 = df[filtro_edad]
print("Filas con Edad > 30:")
print(df_edad_mayor_30)

# 2. Filtra filas donde Ciudad es 'Madrid' o 'Lima'
filtro_ciudades = (df['Ciudad'] == 'Madrid') | (df['Ciudad'] == 'Lima')
df_ciudades_especificas = df[filtro_ciudades]
print("\nFilas donde Ciudad es 'Madrid' o 'Lima':")
print(df_ciudades_especificas)

## Punto 7

In [ ]:
# 1. Detecta nulos con isna() y cuenta faltantes por columna (sum())
nulos_por_columna = df.isna().sum()
print("\nConteo de valores faltantes por columna:")
print(nulos_por_columna)

# 2. Rellena nulos:
# Edad con 0
df['Edad'] = df['Edad'].fillna(0)

# Ciudad con 'Desconocido'
df['Ciudad'] = df['Ciudad'].fillna('Desconocido')

# Ingreso con la mediana de 'Ingreso'
# Calculamos la mediana de los valores NO nulos antes de rellenar
mediana_ingreso = df['Ingreso'].median()
df['Ingreso'] = df['Ingreso'].fillna(mediana_ingreso)

# Verificamos el resultado final del manejo de nulos
print("\nDataFrame después de rellenar los nulos:")
print(df)
print("\nNuevo conteo de nulos (debe ser 0 en las 4 columnas principales):")
print(df.isna().sum())

## Punto 8

In [ ]:
# 1. Lee el CSV creado (actividad_semana5.csv) y muestra las primeras filas
# Importante: el CSV original no tiene los cambios de los ejercicios 5, 6 y 7
df_leido = pd.read_csv('actividad_semana5.csv')
print("\nDataFrame leído desde 'actividad_semana5.csv':")
print(df_leido.head())

# 2. Guarda un CSV con columnas seleccionadas (Nombre, Edad, Ciudad)
df_columnas_seleccionadas = df[['Nombre', 'Edad', 'Ciudad']]
df_columnas_seleccionadas.to_csv('solo_seleccionadas.csv', index=False)
print("\nCSV 'solo_seleccionadas.csv' guardado con las columnas Nombre, Edad, Ciudad.")

## Punto 9

In [ ]:
import pandas as pd

# --- Ejercicio Integrado (9) ---

# 1. Cargar el DataFrame base de nuevo para empezar "limpio"
# Si el archivo no existiera, se recomienda crearlo desde el diccionario 'datos' original
df_integrado = pd.read_csv('actividad_semana5.csv')

# 2. Crea y calcula la columna Ingreso_anual (maneja nulos en Ingreso con 0)
df_integrado['Ingreso_anual'] = df_integrado['Ingreso'].fillna(0) * 12

# 3. Incrementa Edad en 5 años (manejará el valor nulo de Diego como NaN + 5 = NaN)
df_integrado['Edad'] = df_integrado['Edad'] + 5

# 4. Filtra personas con Ingreso_anual > 36000
filtro_integrado = df_integrado['Ingreso_anual'] > 36000
df_filtrado = df_integrado[filtro_integrado]

# 5. Ordena por Ingreso_anual descendente
df_ordenado = df_filtrado.sort_values(by='Ingreso_anual', ascending=False)

# 6. Guarda como personas_filtradas.csv
df_ordenado.to_csv('personas_filtradas.csv', index=False)

print("--- Resultado del Ejercicio 9 ---")
print("DataFrame resultante después de aplicar los pasos:")
print(df_ordenado)
print("\nGuardado exitosamente en 'personas_filtradas.csv'.")